<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AVAEMixerSampleSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DCF4A1421CEAAD7600B20EB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCF4A1561CEAAD7600B20EB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCF4A1611CEAAD7600B20EB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
